*,
*::after,
*::before {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}

body {
  /* justify-content: center; */
  max-width: 100vw;
  overflow-x: hidden;
}
.task-tracker-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  /* justify-content: center; */
}

.task-tracker-container .task-tracker-heading {
  text-shadow: 0 0 5px red;
  text-align: center;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
  /* padding: 2rem 0 .7rem 0; */
}

/* NEW-TASK-BUTTON */
/* NEW-TASK-BUTTON */

.task-tracker-container .new-task-btn {
  /* padding: 5px 10px; */
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  cursor: pointer;
  font-weight: 600;
  color: white;
  background-color: rgb(3, 153, 3);
}

.task-tracker-container .new-task-btn:hover {
  text-shadow: 0 0 4px rgb(72, 2, 2);
  background-color: rgb(0, 255, 34);
}
.task-tracker-container .new-task-btn:active {
  color: white;
  background-color: rgb(2, 71, 2);
}

/* NEW-TASK-BUTTON */
/* NEW-TASK-BUTTON */

/* New-Task-Form */

.new-task-form {
  display: flex;
  flex-direction: column;
  width: 98vw;
  max-width: 600px;
  /* padding: 2rem; */
  box-shadow: 0 0 5px black;
  border-radius: 1rem;
}

.new-task-form:hover {
  background-color: aliceblue;
}

.new-task-form .new-task-heading {
  color: rgb(51, 6, 6);
  text-align: center;
}

.new-task-form .input-box {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.new-task-form .input-box label {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(59, 58, 58);
  width: 106px;
  font-family: "Courier New", Courier, monospace;
}

.new-task-form .input-box .task-input {
  flex: 1;
}

.new-task-form .task-input,
.new-task-form button {
  outline: none;
  border: none;
  box-shadow: 0 0 5px black;
  /* padding: 10px; */
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  flex: 1;
}

.new-task-form input:focus {
  background-color: rgb(231, 227, 255);
}
.new-task-form button {
  background-color: rgb(179, 179, 180);
  font-weight: 700;
  cursor: pointer;
}

.new-task-form button:hover {
  background-color: green;
  color: white;
}

.new-task-form button:active {
  background-color: rgb(79, 3, 129);
  color: white;
}

.new-task-form .input-box select {
  font-size: 1rem;
  height: 100%;
  border-radius: 8px;
  /* padding: 10px; */
  outline: none;
  border: none;
  box-shadow: 0 0 5px black;
  flex: 1;
}

.new-task-form .input-box select option {
  text-align: center;
}
.flex {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.new-task-form .flex .cancel:hover {
  background-color: rgb(201, 30, 4);
  color: white;
}
/* New-Task-Form */

.status-columns {
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  overflow: auto;
  box-shadow: 0 0 5px black;
  /* padding: 1rem; */
  width: 100vw;
  margin: 2rem 0;
}

.tasks-container-statuswise {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  box-shadow: 0 0 5px black;
  border-radius: 1rem;
  min-width: 400px;
  width: 450px;
  height: fit-content;
  min-height: 350px;
  /* padding-bottom: 2rem; */
  overflow: hidden;
}

.pending-tasks-container h1 {
  background-color: gray;
}

.completed-tasks-container h1 {
  background-color: green;
}

.deferred-tasks-container h1 {
  background-color: rgba(251, 41, 4, 0.65);
}
.deployed-tasks-container h1 {
  background-color: rgb(18, 1, 94);
}
.in_progressing-tasks-container h1 {
  background-color: rgb(198, 125, 0, 0.8);
}
/* TASK_CARD */
/* TASK_CARD */

.taskCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 3px black;
  /* padding: 11px; */
  border-radius: 5px;
  width: 97%;
}

.taskCard hr {
  width: 100%;
  margin: 5px;
}
.taskCard .task-info {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
}
.taskCard .task-info .menu-bar {
  cursor: pointer;
}
.taskCard .task-info .title {
  color: rgba(67, 8, 8, 0.711);
}

.taskCard .task-info .priority {
  background-color: rgb(32, 95, 172);
  color: white;
  /* padding: 5px 8px; */
  border-radius: 5px;
}

.taskCard .description {
  text-align: center;
  color: rgb(76, 74, 74);
  font-size: 13px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}

.taskCard .task-info .status {
  background-color: rgb(14, 102, 146);
  /* padding: 5px 20px; */
  border-radius: 5px;
  color: white;
  font-size: 1rem;
}

.taskCard .task-info .full-body {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(97, 81, 81, 0.303);
  opacity: 2;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.taskCard .task-info .full-body .delete-cant {
  border-radius: 1rem;
  /* padding: 2rem; */
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.taskCard .task-info .full-body .delete-cant .confirm {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.taskCard .task-info .full-body .delete-cant .confirm .task-not-delete {
  border: none;
  outline: none;
  /* padding: 5px 10px; */
  color: green;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.21);
  font-weight: 600;
}

.taskCard .task-info .full-body .delete-cant .confirm .task-not-delete:hover {
  background-color: green;
  color: white;
}

.taskCard .task-info .full-body .delete-cant .confirm .task-not-delete:active {
  background-color: rgb(0, 60, 0);
}
.taskCard .assignee {
  font-size: 14px;
  font-weight: 600;
  justify-self: end;
  align-self: flex-end;
}
.taskCard .assignee span {
  color: rgb(76, 74, 74);
  font-size: 13px;
}

.taskCard .task-delete {
  outline: none;
  border: none;
  /* padding: 5px 8px; */
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: red;
  font-weight: 600;
  background: local;
  background-color: rgb(255, 226, 226);
}

.taskCard .task-delete:hover {
  color: white;
  background-color: red;
  box-shadow: 0 0 5px black;
}
.taskCard .task-delete:active {
  background-color: rgb(111, 3, 3);
}
.taskCard .edit {
  width: 62.25px;
  text-align: center;
  outline: none;
  border: none;
  /* padding: 5px 8px; */
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: green;
  font-weight: 600;
  background: local;
  background-color: rgb(214, 253, 213);
}

.taskCard .edit:hover {
  color: white;
  background-color: rgb(3, 197, 3);
  box-shadow: 0 0 5px black;
}
.taskCard .task-delete:active {
  background-color: rgb(3, 111, 7);
}
/* TASK_CARD */
/* TASK_CARD */

/* SORTING_BOX */
/* SORTING_BOX */

.sorting-option {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* gap: 10px; */
}

.sorting-option .status-option:active {
  background-color: rgb(3, 153, 3);
}

/* SORTING_BOX */
/* SORTING_BOX */

@media only screen and (max-width: 550px) {
  .status-columns {
    /* padding: 1rem 3px; */
  }
  .task-tracker-container .task-tracker-heading {
    font-size: 2.4rem;
    font-weight: 900;
  }
  .new-task-form {
    /* padding: 1rem; */
  }
  .new-task-form .input-box {
    /* gap: 2px; */
  }
  .new-task-form .input-box label {
    font-family: sans-serif;
    font-size: 17px;
    width: 95px;
  }
}

@media only screen and (max-width: 440px) {
  .new-task-form .input-box label {
    display: none;
  }
  .tasks-container-statuswise {
    min-width: 95vw;
  }
  .tasks-container-statuswise h1 {
    /* padding: 1rem 10px; */
  }
}
